

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: inherit;
    height: 48px;
    background-color: #1A1A1ACC;
}

.headerimgButton {
    cursor: pointer;
    margin-left: 64px;
    background: #1D1D1D;
    width: 24px;
    height: 24px;
    border: none;
    background-image: url('../img/logo/logo.svg');
    background-size: cover;

}

.headerTitle {
    margin-left: 8px;
    color: #F6BD41;
    /*font-family:'Conv_sfuidisplay_bold' ;*/
    font-size: 18px;
    font-weight: 700;

}
