
.playlistsComponent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 36px;
}
.imgStyle{
    width: 170px;
    height: 168px;
    margin-top: 24px;
    margin-left: 36px;
    border-radius: 4px;
}
.stylePlaylistContainer{
    display: flex;
    align-items: flex-start;
}
.playlistsTitle{
    width: 236px;
    margin-left: 24px;
}

.deleteButton{
    margin-top: 24px;
    margin-left: 12px;
    cursor: pointer;
    
}
.editButton{
    margin-top: 24px;
    margin-left: 24px;
    cursor: pointer;
}
